.env
node-test/.env

node-test/node_modules
frontend/node_modules
frontend/dist

subs_page.html
sub_filled.html
teams-sample.html
utility.js
profile_update.html
telegram_instructions.html
frontend/profile_update_submission.text
curl_teams_sample.txt